@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 22.4%;
  margin-left: auto;
}

body {
  min-height: 100vh;
  background-color: #F2F2F2;
  font-family: 'Poppins', sans-serif;
  padding: 5.3125em 2em 4.875em 2em;
}


.main-box {
  display: grid;
  justify-items: center;
}

.main-text {
  max-width: 311px;
  margin: 0 auto;
  text-align: center;
}

.main-text h1 {
  font-weight: 200;
  font-size: 1.5rem;
  margin-bottom: 0.667em;
}

.main-text span {
  font-weight: 600;
}

.main-text p {
  color: #4D4F62;
  opacity: 0.5;
  line-height: 1.662;
  font-size: 0.94em;
  margin-bottom: 5.055em;
}

.container {
  padding: 2em 1.750em 1.750em 1.750em;
  background-color: #FFFFFF;
  max-width: 311px;
  margin-bottom: 1.56em;
  border-radius: 8px;
  box-shadow: 1px 10px 15px 3px #E0E8F3;
}

.title {
  font-size: 1.250rem;
  font-weight: 600;
  color: #4D4F62;
}

.paragraph {
  font-size: 0.815rem;
  color: #4D4F62;
  opacity: 0.5;
  line-height: 1.7;
}

.supervisor {
  border-top: 4px solid #44D3D2;
}

.teamb {
  border-top: 4px solid #FF637B;
}

.karma {
  border-top: 4px solid #FDBF00;
}

.calculator {
  border-top: 4px solid #377FD2;
}

@media only screen and (min-width: 1000px) {

  .containers {
    display: grid;
    grid-template: repeat(4, minmax(0, 1fr)) / repeat(3, 1fr);
    gap: 30px;
    justify-items: center;
    max-width: 1110px;
    word-wrap: break-word;
  }

  .container {
    margin: 0;
    padding: 2em 2em 2em 2em;
    max-width: 350px;
  }

  .main-text {
    max-width: 540px;
  }

  .main-text h1 {
    font-size: 2.250rem;
    margin-bottom: 0.445em;
  }

  .main-text p {
    margin-bottom: 4.256em;
  }

  .title {
    margin-bottom: 0.3em;
  }

  .paragraph {
    font-size: 0.825rem;
    margin-bottom: 3.068em;
    line-height: 1.8;
  }

  .supervisor {
    grid-row-start: 2;
    grid-row-end: 4;
  }

  .teamb {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .karma {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
  }

  .calculator {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
  }


}